:root {
	--red: #f96266;
	--yellow: #fbe77d;
	--whiteOpacity: rgba(251, 231, 125, .5);
	--white: #fbf6f5;
	--textShadow: rgba(0, 0, 0, .2);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	background-color: var(--red);
	color: var(--white);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-shadow: 2px 2px 2px var(--textShadow);
}

.wrap {
	display: grid;
	gap: 4px;
}

.item {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;
	border: 2px solid var(--yellow);
	border-radius: 6px;
	font-size: 24px;
	font-weight: 600;
	transition: .2s;
	cursor: pointer;
}

.item:hover,
button:hover,
select:hover {
	background-color: var(--whiteOpacity);
}

.modal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 15px;
}

button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 15px;
	margin-top: 10px;
	border: 2px solid var(--yellow);
	border-radius: 6px;
	font-size: 24px;
	font-weight: 600;
	color: var(--white);
	background-color: unset;
	transition: .2s;
	cursor: pointer;
	width: 100%;
}

label {
	display: flex;
	align-items: center;
	gap: 10px;
}

select {
	margin-top: 10px;
	border: 2px solid var(--yellow);
	border-radius: 6px;
	font-size: 24px;
	font-weight: 600;
	color: var(--white);
	background-color: unset;
	transition: .2s;
	margin-top: 0;
	outline: none;
	cursor: pointer;
}

option {
	background-color: var(--red);
	text-align: center;
}